name: Automated Tests and Linting

on:
  push:
    branches: [master]
  pull_request:
    branches:
      - master
      - dev
      - v2
      - v2.5

env:
  CI: true
  PARSER_BROKEN: false # set to true if Solidity parsing is currently broken, this will skip Linting and Coverage
concurrency:
  group: build-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  unit-test:
    name: Unit Tests w/ Coverage
    runs-on: ubuntu-latest
